__*
activitynet
BDD*
dataset
dorothie_*
feat
Video-*
*.zip
drivlme_*
VideoIns*
gpt_prompting/API_KEYS/*
logfiles/*
videos/*
*.jar
DriVLMe_model_weights
.vscode
*.egg-info
datasets/
out/

*.sh
*.sbat
model_path